<div class="feature-detail-page" *ngIf="feature$ | async; let feature">
  <div class="feature-detail-header-background">
    <div class="feature-detail-header-content">
      <div class="feature-detail-header-icon"><img src="assets/flow-icon.png"/></div>
      <div class="feature-detail-header-description">
        <div class="mat-display-1">{{ feature.title }}</div>
        <div class="mat-title">{{ feature.author }}</div>
        <p class="mat-body-1">Short description goes here for the feature, should only be 1-2 lines</p>
        <button mat-flat-button color="primary">Install</button>
      </div>
    </div>
  </div>

  <div class="feature-detail-content" [innerHTML]="markdownHtml">
  </div>
</div>