.feature-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 100%;
}

.feature-detail-header-background {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-detail-header-content {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 0px;
}

.feature-detail-header-description {
  margin-left: 32px;
  width: 608px;
  display: flex;
  flex-direction: column;

  .mat-display-1 {
    margin: 0;
  }

  .mat-title {
    margin: 0;
  }

  p {
    margin: 6px 0px;
    height: 40px;
    text-overflow: ellipsis;
  }

  button {
    width: 120px;
    margin-top: auto;
  }
}

.feature-detail-header-icon {
  width: 128px;
  height: 128px;

  img {
    width: 128px;
    height: 128px;
  }
}

.feature-detail-content {
  background-color: white;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.feature-detail-properties {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin-top: 12px;
}

.feature-detail-property {
  display: flex;
}

.feature-detail-property-label {
  flex: 30;
  color: black;
}

.feature-detail-property-value {
  flex: 70;
  color: dimgray;
}