@import '~@angular/material/theming';
@import './app/add-feature/add-feature.component.scss';

@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

html,
body {
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

.toolbar {
  z-index: 2;
  top: 0px;
  position: fixed;

  button {
    margin-left: 12px;
  }
}

.page-container {
  height: calc(100vh - 64px);
  margin-top: 64px;
  overflow-y: auto;
  overflow-x: hidden;
}
